/* ==============================
    carousel
====================================*/
.carousel-item {
    position:relative;
}
.carousel-item .carousel-content{
    background:rgba(0,0,0,0.5) !important;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:column;
    position:absolute;
    left:0;
    top:0;
    color:white;
    text-align:center;
}
.carousel-caption {
    bottom:20% !important;
    width:60%;
    margin:auto;
}


/* courses */
.card {
    margin:15px 0;
}
.card-image img{
    height:180px;
    width:180px;
}


/* explore intitute */
.explore-institute .row {
    background:#F4FAFD;
    --bs-gutter-x:0;
}


/* students feedback */
.feedback .carousel-control-next,
.feedback .carousel-control-prev {
    width:0% !important;
}
.feedback .carousel-control-next,
.feedback .carousel-control-next {
    width:0% !important;
}
.fa-angle-left {
    font-size:24px;
    background:#E6F6FF !important;
    padding:.8rem;
    border-radius:50%;
    color:black;

}
.fa-angle-right {
    font-size:24px;
    background:#E6F6FF !important;
    padding:.8rem;
    border-radius:50%;
    color:black;

}

/* faq section */
.faq .card-header {
    background:#E6F6FF;
}

/* footer */
.social-icon img {
    width:50px;
    height:50px;
    transition:.3s all;
}
.social-icon a:hover img{
    transform:translateY(-10px);
}















@media (max-width:1200px){
    .explore-institute img{
        height:75vh;
        width:100%;
    }
}
@media (max-width:992px){
    .join-inner {
        flex-flow:column;
        align-items:center !important;
        justify-content:center !important;
        text-align:center;
    }
    .title{
        width:80% !important;
    }
    .successful-student .card img {
        width:100vw;
    }
    .successful-student .card {
        margin:10px 0;
    }
    .join-inner .modal {
        text-align:left;
    }
}
@media (max-width:576px){
    .header-banner .carousel-item img {
        height:30vh;
    }
    .carousel-content-inner {
        width:80% !important;
    }
    .carousel-content {
        padding:100px 10px;
        height:100%;
    }
    .courses .card {
        overflow:hidden;
    }
    .courses .card-inner{
        flex-flow:column;
    }
    .card-image img {
        width:95vw;
        height:30vh;
    }

    .explore-institute img{
        height:50vh !important;
        width:100vw !important;
    }
    .faq {
        width:100% !important;
    }
}