/* ==============================
    carousel
====================================*/
.carousel-item {
    position:relative;
}
.carousel-item .carousel-content{
    background:rgba(0,0,0,0.5) !important;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:column;
    position:absolute;
    left:0;
    top:0;
    color:white;
    text-align:center;
}
.carousel-caption {
    bottom:20% !important;
    width:60%;
    margin:auto;
}


/* courses */
.courses .card {
    margin:15px 0;
}
.card-image img{
    height:180px;
    width:180px;
}


/* explore intitute */
.explore-institute .row {
    background:#F4FAFD;
    --bs-gutter-x:0;
}


@media (max-width:1200px){
    .explore-institute img{
        height:75vh;
        width:100%;
    }
}
@media (max-width:576px){
    .carousel-item img {
        height:30vh;
    }
    .carousel-content-inner {
        width:80% !important;
    }
    .carousel-content {
        padding:100px 10px;
        height:100%;
    }
    .courses .card {
        overflow:hidden;
    }
    .course-title {
        width:90% !important;
    }
    .courses .card-inner{
        flex-flow:column;
    }
    .card-image img {
        width:95vw;
        height:30vh;
    }

    .explore-institute img{
        height:50vh !important;
        width:100vw !important;
    }
}